
body {
  margin: 0px;
}

h1 {
  text-align: center;
  color: white;
}

p {
  padding: 5px;
  background-color: #BBDEFB;
  border: 3px solid #512DA8;
}

#tabulatr {
  display: inline-block;
  /*height: 300px;*/
  width: 200px;
  background: #03A9F4;
  /*border: red solid 3px;*/
  padding: 10px;
}

#ban-list {
  background-color: white;
  max-width: 100%;
  max-height: 100px;
  overflow-y: scroll;
  border: 1px black solid;
  padding: 10px 0px 10px 10px;
  border: 3px solid #512DA8;
}

#add-new {
  border: 3px solid #512DA8;
  outline: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
}

#reset, #remove-last, #submit-new {
  box-shadow: 3px 3px 5px #444;
  border: none;
  color: white;
  background-color: #512DA8;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
}

#reset:hover, #remove-last:hover, #submit-new:hover {
  box-shadow: 1px 1px 3px #444;
}
