
body {
  margin: 0px;
}

h1 {
  text-align: center;
  color: white;
}

p {
  padding: 5px;
  background-color: #BBDEFB;
  border: 3px solid #512DA8;
}

a {
  text-decoration: underline;
  outline: none;
}

#tabulatr {
  display: inline-block;
  /*height: 300px;*/
  width: 300px;
  background: #03A9F4;
  /*border: red solid 3px;*/
  padding: 10px;
}

#toggle-list {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.brand-toggle {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
  /*height: 40px;*/
  width: 40px;
  /*background: orange;*/
}

#ban-list {
  background-color: white;
  max-width: 100%;
  max-height: 100px;
  overflow-y: scroll;
  border: 1px black solid;
  padding: 10px 0px 10px 10px;
  border: 3px solid #512DA8;
}

#add-new {
  border: 3px solid #512DA8;
  outline: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
}

#reset, #remove-last, #submit-new {
  box-shadow: 3px 3px 5px #444;
  border: none;
  color: white;
  background-color: #512DA8;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
}

#reset:hover, #remove-last:hover, #submit-new:hover {
  box-shadow: 1px 1px 3px #444;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
